@media (min-width: 500px) {
    body {
    font-size: 20px;
    color:red;
    background: #965254;
    }
    div {
    text-align: center;
    }
    }

/*

    @media (max-width: 320px) {
        body {
        font-size: 2em;
        background: yellow;

        }
        }*/
